RIVATE_KEY=

AUCTION_FEE_VAULT_OWNER=
AUCTION_DEPOSIT_VAULT_OWNER=
AUCTION_ENTRYPOINT_OWNER=

AUCTION_SEARCHER_PAYBACK_RATE=
AUCTION_VALIDATOR_PAYBACK_RATE=

AUCTIONEER=

AUCTIONEER_KEY= # For testing
SEARCHER_KEY= # For testing

KAIROS_URL=
MAINNET_URL=
CYPRESS_URL=
